<!doctype html>
<html lang="en"
      xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Create new project</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet">
    <link th:src="@{/static/styles/styles.css}" rel="stylesheet">
</head>

<body>

<!-- TOP MENU -->
<div th:insert="includes/top-menu"></div>

<div class="container-fluid">
    <div class="row">

        <!-- SIDEBAR MENU -->
        <nav id="sidebarMenu" class="col-md-3 col-lg-2 d-md-block bg-light sidebar collapse"
             th:insert="includes/sidebar-menu"></nav>

        <main class="col-md-9 ms-sm-auto col-lg-10 px-md-5">
            <div class="my-3 p-3 bg-body rounded shadow-sm">
                <h3>Create New Project</h3>
                <hr class="feature-divider">

                <form action="#" th:action="@{/projects/create/new-project}" th:object="${project}" method="post">
                    <div class="mb-3 row">
                        <label for="title" class="col-sm-3 col-form-label">Project Title</label>
                        <div class="col-sm-4">
                            <input type="text" class="form-control"
                                   th:field="*{projectName}" id="title" name="title">
                        </div>
                    </div>
                    <div class="mb-3 row">
                        <label for="description" class="col-sm-3 col-form-label">Project Description</label>
                        <div class="col-sm-4">
                    <textarea class="form-control" rows="5"
                              th:field="*{description}" id="description" name="description"></textarea>
                        </div>
                    </div>
                    <div class="mb-3 row">
                        <label for="startDate" class="col-sm-3 col-form-label">Project Start Date</label>
                        <div class="col-sm-4">
                            <input type="date" class="form-control"
                                   th:field="*{startDate}" id="startDate" name="startDate">
                        </div>
                    </div>
                    <div class="mb-3 row">
                        <label for="endDate" class="col-sm-3 col-form-label">Project End Date</label>
                        <div class="col-sm-4">
                            <input type="date" class="form-control"
                                   th:field="*{endDate}" id="endDate" name="endDate">
                        </div>
                    </div>
                    <button type="submit" class="btn btn-primary">Submit</button>
                </form>
            </div>
        </main>
    </div>
</div>
</body>
</html>
