<!doctype html>
<html lang="en"
      xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Overview of all projects</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet">
    <link th:src="@{/static/styles/styles.css}" rel="stylesheet">
</head>
<body>

<!-- TOP MENU -->
<div th:insert="includes/top-menu"></div>

<div class="container-fluid">
    <div class="row">

        <!-- SIDEBAR MENU -->
        <nav id="sidebarMenu" class="col-md-3 col-lg-2 d-md-block bg-light sidebar collapse"
             th:insert="includes/sidebar-menu"></nav>

        <main class="col-md-9 ms-sm-auto col-lg-10 px-md-5">
            <h2>Overview of all projects</h2>
            <hr class="feature-divider">
            <div class="row">
                <div class="d-grid justify-content-end">
                    <a th:href="@{/projects/create}">
                        <button class="btn btn-primary" type="button">Add new project</button>
                    </a>
                </div>
                <div class="table-responsive">
                    <table class="table table-striped table-sm">
                        <thead>
                        <tr>
                            <th>Projects</th>
                            <th>Description</th>
                            <th>Users</th>
                            <th>Tasks</th>
                            <th>Status</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="project: ${projects}">
                            <td>
                                <a th:href="@{/projects/{project_id}(project_id=${project.id})}"
                                   th:text="${project.projectName}"></a>
                            </td>
                            <td th:text="${project.description}"></td>
                            <td>
                                <span th:text="${project.users.size() + ' User(s)'}"></span>
                            </td>
                            <td>
                                <span th:text="${project.tasks.size() + ' Task(s)'}"></span>
                            </td>
                            <td th:switch="${project.status.toString()}">
                                <span class="badge bg-secondary" th:case="'NOT_STARTED'">Not started</span>
                                <span class="badge bg-primary" th:case="'IN_PROGRESS'">In progress</span>
                                <span class="badge bg-success" th:case="'COMPLETED'">Completed</span>
                                <span class="badge bg-danger" th:case="'ARCHIVED'">Archived</span>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </main>
    </div>
</div>
</body>
</html>
