<!doctype html>
<html lang="en"
      xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Profile</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet">
    <link th:src="@{/static/styles/style.css}" rel="stylesheet">
</head>
<body>

<!-- TOP MENU -->
<div th:insert="includes/top-menu"></div>

    <div class="container-fluid">
        <div class="row">

            <!-- SIDEBAR MENU -->
            <nav id="sidebarMenu" class="col-md-3 col-lg-2 d-md-block bg-light sidebar collapse"
                 th:insert="includes/sidebar-menu"></nav>

            <main class="col-md-9 ms-sm-auto col-lg-10 px-md-5">
                <h2>Overview of my tasks</h2>
                <hr class="feature-divider">
                <div class="row">
                    <div class="d-grid justify-content-end">
                        <a th:href="@{/tasks/create}">
                            <button class="btn btn-primary" type="button">Add new task</button>
                        </a>
                    </div>
                    <div class="table-responsive">
                        <table class="table table-striped table-sm">
                            <thead>
                            <tr>
                                <th>Task</th>
                                <th>Description</th>
                                <th>Priority</th>
                                <th>User</th>
                                <th>Project</th>
                                <th>Status</th>
                            </tr>
                            </thead>
                            <tbody>

                            <tr th:each="task : ${tasks}">
                                <td>
                                    <a th:href="@{/tasks/{task_id}(task_id=${task.id})}"
                                       th:text="${task.title}"></a>
                                </td>
                                <td th:text="${task.taskDescription}"></td>
                                <td th:text="${task.priority}"></td>
                                <td th:text="${task.user.username}"></td>
                                <td th:text="${task.project.projectName}"></td>
                                <td th:switch="${task.status.toString()}">
                                    <span class="badge bg-secondary" th:case="'NOT_STARTED'">Not started</span>
                                    <span class="badge bg-primary" th:case="'IN_PROGRESS'">In progress</span>
                                    <span class="badge bg-success" th:case="'COMPLETED'">Completed</span>
                                    <span class="badge bg-danger" th:case="'ARCHIVED'">Archived</span>
                                </td>
                                <td>
                                    <a th:href="@{/tasks/{task_id}/update(task_id=${task.id})}">Edit</a>
                                    <a th:href="@{/tasks/{task_id}/archive(task_id=${task.id})}">Archive</a>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </main>
        </div>
    </div>
</body>
</html>
