<!doctype html>
<html lang="en"
      xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Profile</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet">
    <link th:src="@{/static/styles/style.css}" rel="stylesheet">
</head>
<body>

<!-- TOP MENU -->
<div th:insert="includes/top-menu"></div>

<div class="container-fluid">
    <div class="row">

        <!-- SIDEBAR MENU -->
        <nav id="sidebarMenu" class="col-md-3 col-lg-2 d-md-block bg-light sidebar collapse"
             th:insert="includes/sidebar-menu"></nav>

        <main class="col-md-9 ms-sm-auto col-lg-10 px-md-5">
            <div class="my-3 p-3 bg-body rounded shadow-sm">
                <h3>Overview of my tasks</h3>
                <div class="d-flex text-muted pt-3">
                    <svg class="bd-placeholder-img flex-shrink-0 me-2 rounded" width="32" height="32"
                         xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 32x32"
                         preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title>
                        <rect width="100%" height="100%" fill="#ef4271"/>
                        <text x="50%" y="50%" fill="#ef4271" dy=".3em">32x32</text>
                    </svg>
                    <p class="pb-3 mb-0 small lh-sm ">
                        <strong class="d-block text-gray-dark">@note</strong>
                        All my tasks are here!
                    </p>
                    <div class="d-grid col-9 justify-content-end">
                        <a th:href="@{/tasks/create}">
                            <button class="btn btn-primary" type="button">Add new task</button>
                        </a>
                    </div>
                </div>

                <hr class="feature-divider">
                <div class="row">
                    <div class="table-responsive">
                        <table class="table table-striped table-sm">
                            <thead>
                            <tr>
                                <th>Task</th>
                                <th>Description</th>
                                <th>Priority</th>
                                <th>User</th>
                                <th>Project</th>
                                <th>Status</th>
                                <th></th>
                            </tr>
                            </thead>
                            <tbody>

                            <tr th:each="task : ${tasks}">
                                <td>
                                    <a th:href="@{/tasks/{task_id}(task_id=${task.id})}"
                                       th:text="${task.title}"></a>
                                </td>
                                <td th:text="${task.taskDescription}"></td>
                                <td th:switch="${task.priority.toString()}">
                                    <span class="badge bg-success" th:case="'LOW'">Low</span>
                                    <span class="badge bg-warning" th:case="'MEDIUM'">Medium</span>
                                    <span class="badge bg-danger" th:case="'HIGH'">High</span>
                                </td>
                                <td th:text="${task.user.username}"></td>
                                <td th:text="${task.project.projectName}"></td>
                                <td th:switch="${task.status.toString()}">
                                    <span class="badge bg-secondary" th:case="'NOT_STARTED'">Not started</span>
                                    <span class="badge bg-primary" th:case="'IN_PROGRESS'">In progress</span>
                                    <span class="badge bg-success" th:case="'COMPLETED'">Completed</span>
                                    <span class="badge bg-danger" th:case="'ARCHIVED'">Archived</span>
                                </td>
                                <td>
                                    <a th:href="@{/tasks/{task_id}/update(task_id=${task.id})}">Edit</a>
                                    <a th:href="@{/tasks/{task_id}/archive(task_id=${task.id})}">Archive</a>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </main>
    </div>
</div>
</body>
</html>
