<!doctype html>
<html lang="en"
      xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Profile</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet">
    <link th:src="@{/static/styles/styles.css}" rel="stylesheet">
</head>
<body>

<!-- TOP MENU -->
<div th:insert="includes/top-menu"></div>

<div class="container-fluid">
    <div class="row">

        <!-- SIDEBAR MENU -->
        <nav id="sidebarMenu" class="col-md-3 col-lg-2 d-md-block bg-light sidebar collapse"
             th:insert="includes/sidebar-menu"></nav>

        <main class="col-md-9 ms-sm-auto col-lg-10 px-md-5">
            <h2>Overview of all users</h2>
            <hr class="feature-divider">
            <div class="row">
                <div class="table-responsive">
                    <table class="table table-striped table-sm">
                        <thead>
                        <tr>
                            <th>Name</th>
                            <th>Username</th>
                            <th>Email</th>
                            <th>Projects</th>
                            <th>Tasks</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="userInList: ${usersList}">
                            <td>
                                <a th:href="@{/user/{username}(username=${userInList.username})}"
                                   th:text="${userInList.firstName} + ' ' + ${userInList.lastName}"></a>
                            </td>
                            <td th:text="${userInList.username}"></td>
                            <td th:text="${userInList.email}"></td>
                            <td th:text="${userInList.projects.size()}"></td>
                            <td th:text="${userInList.tasks.size()}"></td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </main>
    </div>
</div>
</body>
</html>
