<!doctype html>
<html lang="en"
      xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <title>Home page</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
    <link href="../static/styles/carousel.css" rel="stylesheet">
    <style>
        .bd-placeholder-img {
            font-size: 1.125rem;
            text-anchor: middle;
            -webkit-user-select: none;
            -moz-user-select: none;
            user-select: none;
        }

        @media (min-width: 768px) {
            .bd-placeholder-img-lg {
                font-size: 3.5rem;
            }
        }
    </style>

</head>

<header>
    <nav class="navbar navbar-expand-md navbar-dark fixed-top" style="background-color:#005a82">
        <div class="container-fluid">
            <a class="navbar-brand" href="index.html" th:href="@{/}">
                <img th:src="@{/static/images/favicon.png}" alt="" width="30" height="24"
                     class="d-inline-block align-top" src="">
                SAV-i</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse"
                    aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarCollapse">

                <ul class="navbar-nav me-auto mb-2 mb-md-0">
                    <li class="nav-item">
                        <a class="nav-link disabled" aria-current="page" href="#">Empty</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link disabled" href="#">Empty</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" href="https://sdacademy.ee/en/">Academy</a>
                    </li>
                </ul>
                <!-- <form class="d-flex">
                   <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                   <button class="btn btn-outline-success" type="submit">Search</button>
                 </form>-->
                <ul class="navbar-nav justify-content-right">
                    <li sec:authorize="isAuthenticated()" class="nav-item text-nowrap">
                        <a class="nav-link" href="register.html" th:href="@{/logout}">Sing Out</a>
                    </li>
                    <li sec:authorize="isAnonymous()" class="nav-item text-nowrap">
                        <a class="nav-link" href="register.html" th:href="@{/login}">Sign In</a>
                    </li>
                    <li sec:authorize="isAnonymous()" class="nav-item text-nowrap">
                        <a class="nav-link" href="register.html" th:href="@{/register}">Sign Up</a>
                    </li>
                </ul>

            </div>
        </div>
    </nav>
</header>

<body>

<main>

    <div id="myCarousel" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-indicators">
            <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="0" class="active" aria-current="true"
                    aria-label="Slide 1"></button>
            <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="1" aria-label="Slide 2"></button>
            <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="2" aria-label="Slide 3"></button>
        </div>

        <div class="carousel-inner">

            <!--first carousel-->
            <div class="carousel-item active">
                <img th:src="@{/static/images/sobradorrel.png}" class="d-block w-100" alt="first picture">
                <svg class="bd-placeholder-img" width="100%" height="100%" xmlns="http://www.w3.org/2000/svg"
                     preserveAspectRatio="xMidYMid slice" focusable="false">
                    <rect width="100%" height="100%" fill="#777"/>
                </svg>

                <div class="container">
                    <div class="carousel-caption text-end">
                        <h1>Example headline.</h1>
                        <p>Some representative placeholder content for the first slide of the carousel.</p>
                        <p><a class="btn btn-lg btn-primary" style="background-color:#005a82" href="register.html">Sign
                            up today</a></p>
                    </div>
                </div>
            </div>

            <!--second carousel-->
            <div class="carousel-item">
                <img th:src="@{/static/images/sobradorreltudrukud.png}" class="d-block w-100" alt="first picture">
                <svg class="bd-placeholder-img" width="100%" height="100%" xmlns="http://www.w3.org/2000/svg"
                     preserveAspectRatio="xMidYMid slice" focusable="false">
                    <rect width="100%" height="100%" fill="#777"/>
                </svg>

                <div class="container">
                    <div class="carousel-caption">
                        <h1>Another example headline.</h1>
                        <p>Some representative placeholder content for the second slide of the carousel.</p>
                        <p><a class="btn btn-lg btn-primary" style="background-color:#005a82" href="#">Learn more</a>
                        </p>
                    </div>
                </div>
            </div>

            <!--third carousel-->
            <div class="carousel-item">
                <img th:src="@{/static/images/sobradorrelorigin.png}" class="d-block w-100" alt="third picture">
                <svg class="bd-placeholder-img" width="100%" height="100%" xmlns="http://www.w3.org/2000/svg"
                     preserveAspectRatio="xMidYMid slice" focusable="false">
                    <rect width="100%" height="100%" fill="#777"/>
                </svg>

                <div class="container">
                    <div class="carousel-caption text-end">
                        <h1>One more for good measure.</h1>
                        <p>Some representative placeholder content for the third slide of this carousel.</p>
                        <p><a class="btn btn-lg btn-primary" style="background-color:#005a82" href="#">Browse
                            gallery</a></p>
                    </div>
                </div>
            </div>

        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#myCarousel" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#myCarousel" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>

    <div class="container marketing">
        <p class="text-uppercase fs-3 text-center" style="color:#005a82">all-in-one</p>
        <p class="text-capitalized fs-4 text-center" style="color:#005a82">Project, Management, Program</p>

        <!-- Three columns about team members -->
        <div class="row">
            <div class="col-lg-4">
                <img th:src="@{/static/images/susanna.png}" class="rounded-circle" width="140" height="140"
                     alt="susanna">
                <h2>Susanna</h2>
                <p>Our awesome Project Manager, who keeps everything in order. One of the warmest person we know.</p>
                <p><a class="btn btn-secondary" href="#">View details &raquo;</a></p>
            </div>
            <div class="col-lg-4">
                <img th:src="@{/static/images/airika.png}" class="rounded-circle" width="140" height="140" alt="airika">
                <h2>Airika</h2>
                <p>As a customer relationship manager, no issues would be overlooked. Everything has a solution.</p>
                <p><a class="btn btn-secondary" href="#">View details &raquo;</a></p>
            </div>
            <div class="col-lg-4">
                <img th:src="@{/static/images/valentin.png}" class="rounded-circle" width="140" height="140"
                     alt="valentin">
                <h2>Valentin</h2>
                <p>The experienced Tech Lead and our team's mentor. There are no problems he doesn't know how to
                    solve!</p>
                <p><a class="btn btn-secondary" href="#">View details &raquo;</a></p>
            </div>
        </div>

        <!-- Two shared articles -->
        <hr class="featurette-divider">
        <div class="row featurette">
            <div class="col-md-7">
                <h2 class="featurette-heading fs-2 fw-bold">The Future of Management Is Teal.</h2>
                <p class="lead fs-6">Organizations are moving forward along an evolutionary spectrum, toward
                    self-management, wholeness, and a deeper sense of purpose. <br><br>
                    Many people sense that the way organizations are run today has been stretched to its limits. In
                    survey after survey, businesspeople make it clear that they
                    see companies as places of dread and drudgery, not passion or purpose. All of us yearn for better
                    ways to work together — for more soulful workplaces where
                    our talents are nurtured and our deepest aspirations are honored. </p>
                <p><a class="btn btn-secondary"
                      href="https://www.strategy-business.com/media/file/00344_The_Future_of_Management_Is_Teal.pdf">Read
                    more &raquo;</a></p>
            </div>
            <div class="col-md-5">
                <img th:src="@{/static/images/steal.png}"
                     class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500"
                     height="500"
                     xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 500x500" alt="teal"
                     preserveAspectRatio="xMidYMid slice" focusable="false">
            </div>
        </div>

        <hr class="featurette-divider">

        <div class="row featurette">
            <div class="col-md-7 order-md-2">
                <h2 class="featurette-heading fs-2 fw-bold">Theory Of Change <br><span class="text-muted">It’ll blow your mind</span>
                </h2>
                <p class="lead fs-6">Theory of Change is an increasingly popular tool for organisations to describe how
                    they believe that change happens,
                    and to help focus their work on achieving their long-term goals.
                    <br> There’s no universally agreed definition of what constitutes a Theory of Change. If you hear
                    someone refer to ‘Theory of Change’ today, they can mean a number of things.</p>
                <p><a class="btn btn-secondary" href="https://www.managementcentre.co.uk/blog/theory-of-change-3/">Read
                    more &raquo;</a></p>
            </div>
            <div class="col-md-5 order-md-1">
                <img th:src="@{/static/images/theoryofchange.png}"
                     class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500"
                     height="500"
                     xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 500x500" alt="teal"
                     preserveAspectRatio="xMidYMid slice" focusable="false">
            </div>
        </div>

        <hr class="featurette-divider">

    </div>

    <!-- FOOTER -->
    <footer class="container">
        <p class="float-end"><a href="#">Back to top</a></p>
        <p>&copy; 2021 Company SAV-i. &middot; <a href="https://sdacademy.ee/en/privacy-policy/">SDA Privacy</a>
            &middot; <a href="https://sdacademy.ee/en/information-obligation/">SDA Data Protection</a></p>
    </footer>
</main>
</body>
</html>
